<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento</title>
</head>
<body>
    <h1>Resultados do Treinamento</h1>
    <p>O modelo foi treinado com uma precisão de <strong>{{ accuracy }}</strong>.</p>
    <p>O modelo treinado está disponível para download:</p>
    <a href="{{ model_path }}" download>Baixar Modelo</a>
    <br>
    <a href="/">Voltar à página inicial</a>
</body>
</html>
